.settings-panel {
  width: 100%;
  border-radius: 10px;
  background-color: var(--background-modal);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 17px;
  }

  &__desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 8px 0;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
