.home-game {
    flex-shrink: 0;
    width: 65%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.home-game__tabs {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--background-modal);
    height: 48px;
    border-radius: 14px;
    padding-inline: 5px;
    gap: 5px;
    overflow-x: auto;
}

.home-game__main {
    background-color: var(--background-modal);
    border-radius: 14px;
    margin-top: 38px;
    
    @media (max-width: 768px) {
        margin-top: 16px;
    }
    
    &-container {
        padding: 24px;

        @media (max-width: 768px) {
            padding: 16px;
        }

        @media (max-width: 480px) {
            padding: 12px;
        }
    }

    &-controls {
        display: flex;
        flex-direction: column;

        &__launch {
            display: flex;
            flex-direction: row;
            gap: 16px;

            @media (max-width: 480px) {
                flex-direction: column;
                gap: 12px;
            }
        }

        &__input {

            &:focus {
                outline: solid 1px #e2e2e258;
            }
        }

        &__additional {
            display: flex;
            margin-top: 24px;
            gap: 8px;


            @media (max-width: 480px) {
                margin-top: 12px;
            }
        }
    }
}

.window-icon {
    position: absolute;
    width: 40%;
    bottom: 40px;
    right: 30%;
    z-index: 3;

    @media (max-width: 768px) {
        width: 50%;
    }

    @media (max-width: 480px) {
        width: 60%;
        bottom: 20px;
    }
}

