@use "../../../../../styles/mixins.scss" as *;

.case {
      flex: 1 1 calc(25% - 12px);
  width: 25%;
  height: 138px;
  border: 1px solid rgba(49, 65, 88, 1);
  background-color: rgba(49, 65, 88, 1);
  border-radius: 5px;
  cursor: pointer;

  @include tablet {
    width: 48%;
    flex: 1 1 calc(50% - 8px);
  }


  &:hover {
    background-color: rgba(69, 85, 108, 1);
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    font-size: 48px;
    @include tablet {
      font-size: 44px;
    }
    @include mobile {
      font-size: 40px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    @include mobile {
      font-size: 15px;
    }
  }

  &__price {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    color: rgba(5, 223, 114, 1);
    @include mobile {
      font-size: 13px;
    }
  }
  @include tablet {
    width: 33%;
    height: 130px;
  }
  @include mobile {
    width: 48%;
    height: 120px;
  }
}

.active-case {
  background: linear-gradient(
    to right,
    rgba(21, 93, 252, 0.2),
    rgba(152, 16, 250, 0.2)
  );
  border: 1px solid rgba(43, 127, 255, 1);
}
