:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-white: rgba(255, 255, 255, 1);
  --background-modal: rgba(29, 41, 61, 0.5);
}

* {
  color: var(--color-white);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  background: linear-gradient(
        to bottom right, 
        rgba(15, 23, 43, 1), 
        rgba(0, 79, 59, 0.4), 
        rgba(89, 22, 139, 1));
}